ALTER TABLE subscription_plans ADD COLUMN max_mentor_bookings INTEGER DEFAULT 0; ALTER TABLE subscription_plans ADD COLUMN max_ai_interviews INTEGER DEFAULT 0; ALTER TABLE subscription_plans ADD COLUMN max_questions INTEGER DEFAULT 5;
